---
import SectionTitle from "@/components/ui/SectionTitle.astro";
import Section from "../Section.astro";

const description =
  "All the material we discussed in the online meetings to complete the bootcamp";
---

<Section id="material">
  <div class="my-[64px]">
    <SectionTitle
      sectionTitle="Material (updated daily)"
      description={description}
      isDescription={false}
      titleClass="mb-8"
    />
    <div class="space-y-2">
      <span class="font-bold text-xl">Day 0</span>
      <div class="">
        <span class="blackhead ml-2 text-lg">L0</span>
      </div>
      <a
        href="/bootcamp/day-0.pdf"
        class="class-link hover:class-link-hover ml-4"
      >
        Day 0 Content</a
      >
      <div class="h-4"></div>
      <span class="font-bold text-xl">Day 1</span>
      <div class="">
        <span class="blackhead ml-2 text-lg">L0</span>
      </div>
      <div class="">
        <a
          href="/bootcamp/day-1.pdf"
          class="class-link hover:class-link-hover ml-4"
        >
          Day 1 Content</a
        >
        <a
          href="/bootcamp/git-started.pdf"
          class="class-link hover:class-link-hover ml-4"
        >
          Git Started</a
        >
      </div>
      <div class="h-4"></div>
      <span class="font-bold text-xl">Day 2</span>
      <div class="">
        <span class="blackhead ml-2 text-lg">L0</span>
      </div>
      <div class="">
        <a
          href="/bootcamp/day-2.pdf"
          class="class-link hover:class-link-hover ml-4"
        >
          Day 2 Content (Markdown)</a
        >
      </div>
      <div class="h-4"></div>
      <span class="font-bold text-xl">Day 3</span>
      <div class="">
        <span class="blackhead ml-2 text-lg">L0</span>
      </div>
      <div class="">
        <a
          href="/bootcamp/day-3.pdf"
          class="class-link hover:class-link-hover ml-4"
        >
          Day 3 Content (Branches & Pull requests (easy))</a
        >
      </div>
      <div class="h-4"></div>
      <span class="font-bold text-xl">Day 7</span>
      <div>
        <span class="blackhead ml-2 text-lg">L1 A</span>
      </div>
      <div>
        <a
          href="/bootcamp/day-7-L1A.pdf"
          class="class-link hover:class-link-hover ml-4"
        >
          Introduction to Astro</a
        >
      </div>
      <div>
        <span class="blackhead ml-2 text-lg">L1 B</span>
      </div>
      <div>
        <a
          href="/bootcamp/day-7-L1B.pdf"
          class="class-link hover:class-link-hover ml-4"
        >
          Dart Language Basics</a
        >
      </div>
    </div>
  </div>
</Section>
