---
import SectionTitle from "@/components/ui/SectionTitle.astro";
import Section from "../Section.astro";

const description = "Todo List to complete the bootcamp";
---

<Section id="todos">
  <div class="mt-[64px]">
    <SectionTitle
      sectionTitle="TodoList (updated daily)"
      description={description}
      isDescription={false}
      titleClass="mb-8"
    />
    <div class="">
      <span class="font-bold text-xl">Day 0 </span>
      <ul class="list-disc space-y-2">
        <span class="blackhead ml-2 text-lg">L0</span>
        <li class="text-lg ml-5">
          Install <a
            href="https://code.visualstudio.com/"
            class="class-link hover:class-link-hover">VScode</a
          >
        </li>
        <li class="text-lg ml-5">
          Install <a
            href="https://git-scm.com/"
            class="class-link hover:class-link-hover">Git</a
          >: (Check if its Already installed (youtube), if u're stuck in the
          installation process, it's usually the default option, or ask for
          help)
        </li>
        <li class="text-lg ml-5">
          Create an Account on <a
            href="https://github.com/"
            class="class-link ho ver:class-link-hover"
            >GitHub
          </a>(no need for anything else)
        </li>
      </ul>
      <div class="h-4"></div>
      <span class="font-bold text-xl">Day 1 </span>
      <ul class="list-disc space-y-2">
        <span class="blackhead ml-2 text-lg">L0</span>
        <li class="text-lg ml-5">Revise Today Material</li>
        <li class="text-lg ml-5">
          (Optional) Create your own repository and publish it on Github
        </li>
      </ul>
      <div class="h-4"></div>
      <span class="font-bold text-xl">Day 2 </span>
      <ul class="list-disc space-y-2">
        <span class="blackhead ml-2 text-lg">L0</span>
        <li class="text-lg ml-5">Do this Interactive Tutorial:</li>
        <li class="text-lg ml-10">
          Markdown Interactive <a
            href="https://www.markdowntutorial.com/"
            class="class-link hover:class-link-hover">Tutorial</a
          >
        </li>
        <li class="text-lg ml-5">
          Use this <a
            href="https://stackedit.io/"
            class="class-link hover:class-link-hover">site</a
          > to write markdown
        </li>
        <li class="text-lg ml-5">
          Create your own <code>README.md</code> file in your own repository
          thank me later
        </li>
      </ul>
      <div class="h-4"></div>
      <span class="font-bold text-xl">Day 3 </span>
      <ul class="list-disc space-y-2">
        <span class="blackhead ml-2 text-lg">L0</span>
        <li class="text-lg ml-5">
          Create a new repository and practice branching
        </li>

        <li class="text-lg ml-5">
          Submit your first pull request to an open source project ~ hint: try
          our <a
            href="https://github.com/GJU-IT-Club/website"
            class="class-link hover:class-link-hover">site</a
          > Website : Done ig
        </li>
      </ul>
      <div class="h-4"></div>
      <span class="font-bold text-xl">Certificate of Participation</span>
      <ul class="list-disc space-y-2">
        <span class="blackhead ml-2 text-lg">L0</span>
        <li class="text-lg ml-5">
          Watch the cert. instructions on onedrive (link on discord)
        </li>

        <li class="text-lg ml-5">
          Submit your first pull request this <a
            href="https://github.com/GJU-IT-Club/git-certificate"
            class="class-link hover:class-link-hover">Repo</a
          > following the instructions (due ~ 15.feb)
        </li>
      </ul>
      <div class="h-4"></div>
      <span class="font-bold text-xl">Day 4+5+6</span>
      <ul class="list-disc space-y-2">
        <span class="blackhead ml-2 text-lg">L1</span>
        <li class="text-lg ml-5">
          Complete the prerequisites for your chosen sub-level, details <a
            href="/bootcamp/sublevels-prerequisites.pdf"
            class="class-link hover:class-link-hover">here</a
          >
        </li>
      </ul>
      <div class="h-4"></div>
      <span class="font-bold text-xl">Day 7</span>
      <ul class="list-disc space-y-2">
        <span class="blackhead ml-2 text-lg">L1 A</span>
        <li class="text-lg ml-5">Create your first Astro project</li>
        <li class="text-lg ml-5">Add a simple page with some content</li>
        <li class="text-lg ml-5">Create and use an Astro component</li>
      </ul>
      <ul class="list-disc space-y-2">
        <span class="blackhead ml-2 text-lg">L1 B</span>
        <li class="text-lg ml-5">Open up Dartpad</li>
        <li class="text-lg ml-5">
          Implement any simple program that works with lists and maps
        </li>
        <li class="text-lg ml-5">
          Create a function that uses different parameter type
        </li>
      </ul>
      <ul class="list-disc space-y-2">
        <span class="blackhead ml-2 text-lg">L1 C</span>
        <li class="text-lg ml-5">
          Prepare your dev environment (Install Anaconda)
        </li>
      </ul>
    </div>
  </div>
</Section>
